---
import Button from '../generic/Button.astro';
import SummaryCard from '../generic/SummaryCard.astro';

interface Event {
  name: string;
  title: string;
  link: string;
  date: Date;
  abstract: string;
  type: string;
  blogpost?: string;
  subtype?: string;
  videolink?: string;
  emoji?: string;
  img?: string;
}

interface Props {
  event: Event;
}

const { event } = Astro.props;
---

<SummaryCard
  title={event.title}
  imgSrc={event.img ?? 'https://i.imgur.com/KvnPBQV.png'}
  imgAlt={event.title}
  description={event.abstract}
>
  <p class='mt-2'>
    <a
      href={event.link}
      title={event.title}
      class='hover:text-yellow transition-color duration-150 ease-in-out'
      >{event.name}</a
    > - {
      event.date.toLocaleDateString('en-BE', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      })
    }
  </p>
  <div class='md:flex gap-4 mt-4 hidden'>
    <Button blank={true} href={event.link}>See event</Button>
    {
      event.blogpost && (
        <Button blank={true} href={event.blogpost}>
          See Blogpost
        </Button>
      )
    }
    {
      event.videolink && (
        <Button blank={true} href={event.videolink}>
          See Recording
        </Button>
      )
    }
  </div>
</SummaryCard>
